@import "../../globals/styles/utils";

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: $color-black;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-weight: $font-weight-bold;
  position: fixed;
  z-index: $z-index-modal;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.errorCode {
  font-size: 20rem;
  color: rgba($color: #fff, $alpha: 0.4);
  line-height: 1;
  font-family: "Russo One", sans-serif;

  @include media-breakpoint-down(sm) {
    font-size: 10rem;
  }
}

.text {
  font-size: 1.2rem;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2rem;
  padding: 1rem;

  @include media-breakpoint-down(sm) {
    font-size: 1rem;
    width: 25rem;
  }
}

.returnLink {
  font-weight: $font-weight-bold;
  text-decoration: underline;

  &:hover {
    text-decoration: underline;
  }
}
