@import "../../globals/styles/utils";

.extraSection {
  color: #fff;
  background-color: $color-black;
  border-bottom: 1px solid $color-main;
}

.topSection {
  color: #fff;
  background-color: $color-black;
  position: relative;
}

.bottomSection {
  background-color: $color-main;
}

.menuIcon {
  a {
    color: #fff;
  }
}

.navList {
  font-size: 1rem;
}

%navItemBase {
  padding: 0.4rem 1rem;
  display: block;

  transition: color $transition-time, background $transition-time;
  position: relative;
  overflow: hidden;
}

.navLink {
  @extend %navItemBase;
  color: $color-black;

  &:hover {
    background-color: $color-black;
    color: #fff;
  }
}

.navLinkActive {
  @extend %navItemBase;
  background-color: $color-black;
  color: #fff;
}

.search {
  padding: 0.4rem 0.8rem;
  padding-right: 1rem;
}

.cart {
  position: relative;
}

.itemCount {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  top: -1px;
  right: 0px;
  background-color: $color-danger;
  color: #fff;
  font-size: 0.6rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}

.iconContainer {
  padding: 0.5rem;
  position: relative;
}

.icon {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fontIcon {
  color: #fff;
  display: block;
}

.favoriteIcon {
  padding-bottom: 2px;
}

.loginIcon {
  padding-right: 4px;
}

.searchIcon {
  height: 1.2rem;
  display: block;
}
